.banner {
  margin-top: 0vh;
  height: 100vh;
  margin-bottom: -80px;
  color: white;
  object-fit: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
  background-size: cover;
  background-position: center;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 0, 0, 0.8) 90%
  );
  z-index: 1;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  z-index: 2;
}

.banner__title {
  font-size: 3.5rem;
  font-weight: 900;
  padding-bottom: 3.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding: 2rem 0;
  font-size: 1.2rem;
  max-width: 360px;
  height: 80px;
  margin-bottom: 100px;
}

.banner__buttons {
  display: flex;
  gap: 20px;
  margin-top: -40px;
  margin-bottom: -10px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  padding: 1rem 3rem;
  background-color: rgba(17, 39, 239, 0.5);
  transition: all 0.3s ease;
}

.banner__button.play {
  background-color: #e50914;
}

.banner__button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.3s ease;
}

.banner__fadeBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  z-index: 1;
  
}