.row__poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
}

.row__posters {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.row__posters::-webkit-scrollbar {
  height: 8px;
  background: #111;
}

.row__posters::-webkit-scrollbar-thumb {
  display: none;
  background: #555;
  border-radius: 4px;
}

.row__poster:hover {
  transform: scale(1.08);
  z-index: 2;
}

.row__posterLarge {
  max-height: 270px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.row {
  margin-left: 20px;
  color: #fff;
}

/* Add this for better title spacing */
.row h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: -80px;
  color: #fff;
  z-index: 8;
  position: relative;
  font-weight: 500;
}
